/* Variáveis globais de cores */
:root {
    --cor-primaria: #8e236e;
    --cor-secundaria: #d5e8d4;
    --cor-terciaria: #8e236e;
    --cor-quaternaria: #ffffff;
    --cor-fundo-claro: #f8fdfb;
    --cor-fundo-escuro: #355c4b;
    --cor-acao: #d5e8d4;
    --cor-destaque: #8bc34a;
    --cor-botao: #8bc34a;
}

/* h1, h2, h3, p {
    text-shadow: 2px 2px 5px rgb(1, 52, 5);
} */

@media (min-width: 600px) {
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1.6;
        color: var(--cor-primaria);
    }

    /* Estilo do header */
    header.header {
        background: var(--cor-fundo-escuro);
        display: flex;
        justify-content: space-between;
        color: var(--cor-quaternaria);
    }

    header .container {
        width: 60%;
        min-height: 700px;
        padding: 2rem 3rem;
        gap: 100px;
        text-align: center;
    }

    .highlight {
        color: var(--cor-fundo-escuro);
        background-color: var(--cor-secundaria); /* Cor do marcador */
        padding: 1px 10px; /* Espaçamento interno para parecer mais com marcador */
        /* border-radius: 12px; */
    }

    header h1 {
        margin:  0;
        padding: 0;
        padding-top: 20%;
        font-size: 3.5rem;
        color: var(--cor-acao);
    }

    header p {
        margin:  0;
        padding: 0;
        margin-bottom: 7%;
        font-size: 1.5rem;
        color: var(--cor-secundaria);
    }

    header #foto-ao-lado {
        width: 40%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('./images/nutricionista-header.jpg');
    }

    header #foto-ao-lado img {
        display: none;
        margin:  0;
        padding: 0;
        height: 50%;
    }

    a.btn {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        color: var(--cor-quaternaria);
        background: var(--cor-primaria);
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
    }


    /* Botão WhatsApp */
    .btn-whatsapp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
    }

    .fa-whatsapp {
        margin-top: 16px;
    }

    /* Estilo das seções principais */
    section {
        padding: 2rem 1rem;
        background: var(--cor-fundo-claro);
    }

    /* Seção Método */
    #metodo {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        background: var(--cor-fundo-claro);
        margin: 0;
        padding: 0;
    }

    #metodo .image {
        flex: 1;
        overflow: hidden;
    }

    #metodo .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #metodo .text {
        flex: 1;
        padding: 2rem;
        text-align: left;
        font-size: 1.5rem;
        color: var(--cor-primaria);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    #metodo .text h2 {
        line-height: 1.2;
        font-size: 3rem;
        margin-bottom: 1rem;
    }


    /* Seção Detalhes */
    /* #detalhes h2, p {
        text-shadow: 2px 2px 5px rgb(176, 176, 176);
    } */

    #detalhes {
        text-align: center;
        font-size: 1.5rem;
        background: var(--cor-secundaria);
        color: var(--cor-fundo-escuro);
    }

    #detalhes h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: var(--cor-fundo-escuro);
    }

    #detalhes a {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        color: var(--cor-fundo-claro);
        background: var(--cor-terciaria);
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
    }

    /* Seção Carrossel */
    #carrossel {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 7%;
        background: var(--cor-fundo-escuro);
        color: var(--cor-secundaria);
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    #carrossel h2 {
        font-size: 3rem;
        padding: 10px;
    }

    #carrossel .carousel {
        border-radius: 10px;
        max-width: 1600px;
        overflow: hidden;
        display: flex;
    }
    
    .carousel {
        > * {
            flex: 0 0 100%;
        }
    }
    
    #carrossel .group {
        display: flex;
        will-change: transform;
        animation: moverCarrossel 30s linear infinite;
    }
    
    #carrossel:hover .group {
        animation-play-state: paused;
    }
  
    .card {
        background-color: black;
        align-items: center;
        display: flex;
        height: 275px;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    /* Animação do carrossel */
    @keyframes moverCarrossel {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    /* Seção Antes e Depois */
    #antes-depois h2{
        font-size: 3rem;
    }
    
    #antes-depois p{
        padding: 0 1.5rem;
        font-size: 1.5rem;
    }
    
    #antes-depois {
        display:  none;
        text-align: center;
        background: var(--cor-fundo-claro);
    }

    /* #antes-depois h2, p {
        text-shadow: 2px 2px 5px rgb(176, 176, 176);
    } */

    #antes-depois .images {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin: 1rem 1rem;
    }

    #antes-depois .images img {
        max-width: 300px;
        border-radius: 10px;
    }

    #antes-depois a {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        color: var(--cor-quaternaria);
        background: var(--cor-primaria);
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
    }

    /* Seção Como Funciona */
    
    #como-funciona {
        align-items: center;
        display: flex;
        flex-direction: column;
        background: var(--cor-fundo-claro);
        color: var(--cor-primaria);
        padding-left: 10%;
        padding-right: 10%;
    }
    
    #como-funciona .etapa {
        display: flex;
        align-items: center;
    }
    
    #como-funciona .etapa img {
        width: 30%;
        height: auto
    }
    
    #como-funciona h3 {
        padding: 0.8rem 1.5rem;
        color: var(--cor-primaria);
        font-size: 1.5rem;
    }
    
    #como-funciona h2 {
        text-align: center;
        font-size: 3rem;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    #como-funciona p {
        padding: 0.8rem 1.5rem;
        color: var(--cor-primaria);
    }
    #como-funciona a {
        margin-top: 5%;
        margin-bottom: 3%;
        display: block;
        padding: 0.8rem 1.5rem;
        color: var(--cor-quaternaria);
        background: var(--cor-primaria);
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
    }

    /* Seção Quebra de Objeção */
    #quebra-de-objecao {
        text-align: center;
        background: var(--cor-fundo-escuro);
        color: var(--cor-acao);
    }

    #quebra-de-objecao h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: var(--cor-secundaria);
    }

    /* Seção Sobre */
    #sobre {
        display: flex;
        text-align: left;
        background: var(--cor-fundo-claro);
        color: var(--cor-primaria);
        font-size: 1.5rem;
        padding: 0;
    }

    #sobre h2 {
        padding: 0.8rem 1.5rem;
        font-size: 3rem;
        margin-bottom: 1rem;
        color: var(--cor-primaria);
    }

    #sobre p {
        padding: 0.8rem 1.5rem;
    }

    #sobre a {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        color: var(--cor-quaternaria);
        background: var(--cor-destaque);
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
    }

    #sobre img {
        width: 50%;
        /* max-width: 600px; */
        /* border-radius: 10px; */
    }

    /* Estilo do footer */
    footer.footer {
        background: var(--cor-fundo-escuro);
        color: var(--cor-quaternaria);
        text-align: center;
        padding: 1rem;
    }
}

@media (max-width: 599px) {
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            /* line-height: 1.6; */
            color: var(--cor-primaria);
        }

        header.header {
            background: var(--cor-fundo-escuro);
            color: var(--cor-quaternaria);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #foto-ao-lado {
            order: 0;
            width: 100%;
            margin-bottom: -59%;
            margin-top: -20%;
        }

        #foto-ao-lado img {
            width: 100%;
            mask-image: linear-gradient(to bottom, black 30%, transparent 75%);
            clip-path: polygon(0% 10%, 100% 10%, 100% 75%, 0% 75%);
        }

        header .container {
            order: 1;
            /* padding: 5%; */
            padding: 1rem;
            text-align: center;
            bottom: 0;
            background: var(--cor-fundo-escuro);
            margin-bottom: 10%;
        }

        header h1 {
            font-size: 2rem;
            /* margin-bottom: 1rem; */
            color: var(--cor-acao);
        }

        header p {
            font-size: 1rem;
            margin-bottom: 12%;
            color: var(--cor-secundaria);
        }

        a.btn {
            /* display: block; */
            /* margin-left: auto;
            margin-right: auto; */
            /* margin-top: 100%; */
            padding: 0.8rem 1.5rem;
            text-align: center;
            /* color: var(--cor-quaternaria);
            background: var(--cor-botao); */
            color: var(--cor-fundo-claro);
            background: var(--cor-terciaria);
            border-radius: 10px;
            text-decoration: none;
            font-weight: 600;
        }

    
    /* Botão WhatsApp */
    .btn-whatsapp {
        display: none;
        visibility: hidden;
    }
    

    /* Estilo das seções principais */
    section {
        padding: 2rem 1rem;
        background: var(--cor-fundo-claro);
    }
    
    /* Seção Método */
    #metodo {
        /* background: var(--cor-secundaria); */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 2%; */
        justify-content: space-between;
    }
    
    #metodo .text {
        flex: 1;
        text-align: center;
        /* margin-right: 2rem; */
        color: var(--cor-fundo-escuro);
    }
    
    #metodo .image img {
        max-width: 100%;
        border-radius: 1px;
        display: none;
    }
    
    /* Seção Detalhes */
    #detalhes {
        text-align: center;
        background: var(--cor-secundaria);
        color: var(--cor-fundo-escuro);
    }
    
    #detalhes h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        /* color: var(--cor-destaque); */
    }
    
    #detalhes a {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        color: var(--cor-fundo-claro);
        background: var(--cor-terciaria);
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
    }
    
    /* Seção Carrossel */
    #carrossel {
        padding-left: 0;
        padding-right: 0;
        background: var(--cor-fundo-escuro);
        color: var(--cor-secundaria);
        text-align: center;
    }
    
    #carrossel h2 {
        padding: 10px;
    }

    #carrossel .carousel {
        overflow: hidden;
        display: flex;
    }
    
    .carousel {
        > * {
            flex: 0 0 100%;
        }
    }
    
    #carrossel .group {
        display: flex;
        will-change: transform;
        animation: moverCarrossel 30s linear infinite;
    }
    
    #carrossel:hover .group {
        animation-play-state: paused;
    }
  
    .card {
        height: 175px;
    }

    .card img {
        max-height: 100%;
    }
    
    /* Animação do carrossel */
    @keyframes moverCarrossel {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    
    /* Seção Antes e Depois */
    #antes-depois {
        color: var(--cor-fundo-escuro);
        text-align: center;
        background: var(--cor-fundo-claro);
    }
    
    #antes-depois .images {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin: 1rem 1rem;
    }
    
    #antes-depois .images img {
        max-width: 300px;
        border-radius: 1px;
    }
    
    #antes-depois a {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        color: var(--cor-quaternaria);
        background: var(--cor-primaria);
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
    }
    
    /* Seção Como Funciona */
    #como-funciona {
        background: var(--cor-fundo-escuro);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2%;
        color: var(--cor-quaternaria);
        text-align: center;
    }
    
    #como-funciona .etapa {
        display: flex;
        align-items: center;
        background-color: var(--cor-secundaria);
        color: #355c4b;
        padding: 5%;
        margin-bottom: 2rem;
        border-radius: 10px;
    }
    
    #como-funciona .etapa img {
        display: none;
        max-width: 200px;
        border-radius: 10px;
    }
    
    #como-funciona h3 {
        font-size: 1.5rem;
    }

    #como-funciona a {
        display: block;
        padding: 0.8rem 1.5rem;
        color: var(--cor-quaternaria);
        background: var(--cor-primaria);
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
    }

    /* Seção Quebra de Objeção */
    #quebra-de-objecao {
        text-align: center;
        background: var(--cor-fundo-claro);
        color: var(--cor-fundo-escuro);
        /* margin-bottom: 1rem; */
    }
    
    #quebra-de-objecao h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    #quebra-de-objecao p {
        margin-bottom: 3rem;
    }
    
    /* Seção Sobre */
    #sobre {
        padding-top: 350px;
        color: var(--cor-quaternaria);
        background-image: url('images/nutricionista.webp');
        background-size: cover; /* Faz a imagem preencher o container */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; /* Evita que a imagem se repita */
    }

    #sobre h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    #sobre a {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        color: var(--cor-quaternaria);
        background: var(--cor-destaque);
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
    }
    
    #sobre img {
        display: none;
        margin-left: 0;
        max-width: 100%;
        border-radius: 10px;
    }
    
    /* Estilo do footer */
    footer.footer {
        background:#012c1b ;
        color: var(--cor-quaternaria);
        text-align: center;
        padding: 5px;
    }
}